{% extends '/admin/layout.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12 m-auto">
    <div class="container ">
      <div class="addemp-box-container col-md-7 ">
        <div class="col-md-8 pt-4">
          <form id="form1" name="form1" method="post" action="/GetupdatetargetEmployees">

            <h4 class="text-center font-weight-bold white-text" ><span
                class="text-primary">{{val[1]}}</span></h4>

            <div class="form-group">
              <label class="font-weight-bold white-text" >Gold (Grams)</label>
              <input type="text" class="form-control" required name="Gold" value="{{val[7]}}">
            </div>
            <div class="form-group">
              <label class="font-weight-bold white-text" >Diamond (₹)</label>
              <input type="text" class="form-control" required name="Diamond" value="{{val[10]}}">
            </div>

            <button type="submit" class="btn float-right button-class-style"
              onclick="return confirm('Are you sure? {{val[1]}} is Target will be reset')">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  {% endblock %}